<template name="divyMenu">
	{{>header_stealth back_route="Router.go('storeMenu')" back_name="Store Menu"}}

	{{> storeItem}}

	<ul class="list">
		<li class="list__header">
	    	Kickstarters
	  	</li>
		{{#if f_hasDivys}}
			{{#each f_divys}}
				{{> existingDivy}}
			{{/each}}
		{{else}}
			{{> kickstartNewDivy}}
		{{/if}}
		<li class="list__header">
	    	Pre orders
	  	</li>	
	  	{{> preorder}}
	</ul>
</template>	

<template name="existingDivy">
	<li class="list__item list__item--tappable">
      <div width="80px" class="plan-left col ons-col-inner" style="-webkit-box-flex: 0; flex: 0 0 80px; max-width: 80px;">
        <div class="plan-date">${{f_amountNeeded}}</div>
        <div class="plan-duration">${{f_amountPresent}}</div>
      </div>

      <div class="plan-right col ons-col-inner">
        <div class="plan-name">Divy Up!</div>

        <div class="plan-info">
          <div ng-hide="a % 4 == 0">
            xxx
          </div>

          <div ng-hide="a % 3 == 0">
            xxx
          </div>
        </div>
      </div>
    </li>
</template>

<template name="kickstartNewDivy">
	<li class="list__item list__item--tappable">
		Kickstart new Divy!
    </li>
</template>

<template name="preorder">
	<li class="list__item list__item--tappable">
	  <div width="80px" class="plan-left col ons-col-inner" style="-webkit-box-flex: 0; flex: 0 0 80px; max-width: 80px;">
	    <div class="plan-date">{{f_beginTime}}</div>
	    <div class="plan-duration">{{f_timeFromNow}}</div>
	  </div>

	  <div class="plan-right col ons-col-inner">
	    <div class="plan-name">Pre Order</div>

	    <div class="plan-info">
	      <div ng-hide="a % 4 == 0">
	        xxx
	      </div>

	      <div ng-hide="a % 3 == 0">
	        xxx
	      </div>
	    </div>
	  </div>
	</li>
</template>
