<template name="divyMenu">
	{{>header_stealth back_route="Router.go('storeMenu')" back_name="Store Menu"}}

	{{> storeItem}}

	<div class="list-group">
  		{{#if f_hasKickstarter}}
			{{#with f_kickstarter}}
				{{> existingDivy}}
			{{/with}}
		{{else}}
			{{> kickstartNewDivy}}
		{{/if}}

  		{{> preorder}}
	</div>
</template>	

<template name="existingDivy">
	<a href="#" class="list-group-item">
		<h4 class="list-group-item-heading">Delivery Open</h4>
	    <p class="list-group-item-text">
	    	<span>${{f_amountNeeded}}</span><br>
	    	<span>${{f_amountPresent}}</span>
	    </p>
	</a>
</template>

<template name="kickstartNewDivy">
	<a href="#" class="list-group-item">
		<h4 class="list-group-item-heading">Kickstart a new Divy!</h4>
	    <p class="list-group-item-text">
	    	...
	    </p>
	</a>
</template>

<template name="preorder">
	<a href="#" class="list-group-item">
		<h4 class="list-group-item-heading">Preorder for delivery hours</h4>
	    <p class="list-group-item-text">
	    	<span>{{f_beginTime}}</span><br>
	    	<span>{{f_timeFromNow}}</span>
	    </p>
	</a>
</template>

<!-- 	  
 -->

<!--  	<ul class="list">
		<li class="list__item list__itemtappable">
			{{#if f_hasDivys}}
				{{#with f_divy}}
					{{> existingDivy}}
				{{/with}}
			{{else}}
				{{> kickstartNewDivy}}
			{{/if}}
		</li>
		
		<li class="list__item list__itemtappable">
	  		{{> preorder}}
	  	</li>
	</ul>
 -->