<template name="storeMenu">
	{{> header title="Choose a Restaurant"}}
	<ul class="list">
	{{#each f_stores}}
		{{> storeItem}}
	{{/each}}
	</ul>
	{{> footer}}
</template>

<!-- <template name="storeItem">
	<li class="list__item list__item--tappable" name="storeItem">
	    <h3>{{storename}}</h3>
	    {{#if f_hasDivy}}
	    	Divy Kickstarting!<br>
	    {{/if}}
	    {{f_deliveryStatus}}
	</li>
</template> -->

<template name="storeItem">
	<li class="list__item list__item--tappable" name="storeItem">
		<div class="card">
			<div class="card-name">{{storename}}</div>
	          	<div class="card-desc">For you fat chumps<br>{{f_deliveryStatus}}</div>
		</div>

		<div class="rating"><div class="rating-num">
		    {{#if f_delivering}}
		    	Delivering now!
		    {{else}}
		    	{{#if f_hasDivy}}
	    			Divy Kickstarting!
	    		{{else}}
	    			Preorder!
	    		{{/if}}
	    	{{/if}}
		</div></div>
	</li>
</template>