<template name="footer">
	<!-- Prerequisite=This example use ionicons(http://ionicons.com) to display icons. -->
	<div class="tab-bar">
	  
	  <label id="stores" class="tab-bar__item">
	    <input type="radio" name="tab-bar-a">
	    <button class="tab-bar__button">
	      <i class="tab-bar__icon ion-stop"></i>
	      <div class="tab-bar__label">Stores</div>
	    </button>
	  </label>

	  <label id="my_orders" class="tab-bar__item">
	    <input type="radio" name="tab-bar-a">
	    <button class="tab-bar__button">
	      <i class="tab-bar__icon ion-record"></i>
	      <div class="tab-bar__label">My Orders</div>
	    </button>
	  </label>

	  <label id="settings" class="tab-bar__item">
	    <input type="radio" name="tab-bar-a">
	    <button class="tab-bar__button">
	      <i class="tab-bar__icon ion-star"></i>
	      <div class="tab-bar__label">Settings</div>
	    </button>
	  </label>
	</div>

</template>