<template name="foodMenu">
	<ul class="list-group">
		{{#each f_menuItems}}	
		  <li class="list-group-item" id="foodItem">
		    <span class="badge">${{price}}</span>
		    {{name}}
		  </li>
		{{/each}}
	</ul>
	<button class="button--large--cta" id="testButton">Test Button</button>
	{{> orderTotal}}
</template>

<template name="orderTotal">
	<div class="tab-bar">
	  
		<label class="tab-bar__item">
			<button class="tab-bar__button">
		  		Total in cart: ${{f_totalInOrder}}
			</button>
		</label>

		<label class="tab-bar__item">
		    <button class="tab-bar__button">
		      <div id="checkout">Checkout</div>
		    </button>
		</label>
	
	</div>
</template>