/*login*/
.login-form {
  text-align: center;
  width: 80%;
  margin: 60px auto 0;
}

input[type=email], input[type=password] {
  display: block;
  width: 100%;
  margin: 0 auto;
  outline: none;
  padding-top: 24px;
  padding-bottom: 24px;
}

.login-button {
  width: 100%;
  margin: 0 auto;
}

.forgot-password {
  display: block;
  margin: 8px auto 0 auto;
  font-size: 14px;
}
/*----------------------------------------------------------*/

/*divyMenu*/
.card {
  background-color: white;
  /*background-image: url(../../public/images/in_n_out.jpg);*/
  background-image:url(in_n_out.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 250px;
}

.card-toolbar ons-back-button span {
  color: white;
}

.card-name {
  font-weight: 600;
  font-size: 20px;
  padding: 66px 0 8px 0;
  text-align: center;
}

.card-desc {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.9;
  text-align: center;
  line-height: 1.4;
}

.rating {
  text-align: center;
  position: relative;
  height: 0px;
}

.rating-num {
  position: relative;
  top: -24px;
  height: 24px;
  color: white;
  line-height: 24px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  border-radius: 4px 4px 0 0;
  padding: 0 6px;
  background-color: #eb482f;
  color: white;
  width: auto;
  margin: 0 auto 0 auto;
  display: inline-block;
}

/*.rating-num ons-icon {
  font-size: 11px;
  vertical-align: -0px;
}*/

/*-----------------------------------------------------------------------------*/