<template name="header">
	<div class="navigation-bar">
	  <div class="navigation-bar__left">
	  	{{#if back_route}}
		    <span id="back" class="toolbar-button--quiet navigation-bar__line-height">
		      <i class="ion-navicon" style="font-size:32px; vertical-align:-6px;"></i>
		      Back
		    </span>
	    {{/if}}
	  </div>

	  <div class="navigation-bar__center">
	    {{title}}
	  </div>

	  <div class="navigation-bar__right">
	  	{{#if right_action}}
	    	<span class="toolbar-button--quiet navigation-bar__line-height">Label</span>
	    {{/if}}
	  </div>
	</div>
</template>

<template name="header_stealth">
	<div class="navigation-bar navigation-bar--transparent">
	  <div class="navigation-bar__left">
	    <span class="toolbar-button--quiet navigation-bar__line-height">
	      <i class="ion-navicon" style="font-size:32px; vertical-align:-6px;"></i>
	    </span>
	  </div>
	  <div class="navigation-bar__center">
	  </div>
	  <div class="navigation-bar__right">
	    <span class="toolbar-button--quiet navigation-bar__line-height">Label</span>
	  </div>
	</div>
</template>