<template name="layout">

	<div id="header">
		{{> header}}
	</div>

	<div id="content">
		<div id="wrapper">
			{{> sideBar}}
        
	        <div id="page-content-wrapper">
	            <div class="container-fluid">
	                <div class="row">
						<div class="jumbotron">
							{{> yield}}
						</div>
					</div>
				</div>
			</div>

		</div>
	</div> 

</template>

<template name="sideBar">
	 <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    Divyup!
                </li>
                <li>
                    <a href="{{pathFor 'storeMenu'}}">Stores</a>
                </li>
                <li>
                    <a href="{{pathFor 'myDivys'}}">My Divys</a>
                </li>
                <li>
                    {{> loginButtons}}
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
</template>
