<template name="layout">
	{{> yield}}
</template>

<template name="sideBar">
	 <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    Divyup!
                </li>
                <li>
                    <a href="{{pathFor 'storeMenu'}}">Stores</a>
                </li>
                <li>
                    <a href="{{pathFor 'myDivys'}}">My Divys</a>
                </li>
                <li>
                    {{> loginButtons}}
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
</template>
