<template name="layout">

	<div id="header">
		{{> header}}
	</div>

	<div id="content">
		<div id="wrapper">
			{{> sideBar}}
        
	        <div id="page-content-wrapper">
	            <div class="container-fluid">
	                <div class="row">
						<div class="jumbotron">
							{{> yield}}
						</div>
						<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
					</div>
				</div>
			</div>

		</div>
	</div> 

</template>

<template name="sideBar">
	 <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="{{pathFor 'home'}}">
                        Home
                    </a>
                </li>
                <li>
                    <a href="#">Dummy 1</a>
                </li>
                <li>
                    <a href="#">Dummy 2</a>
                </li>
                <li>
                    <a href="#">Dummy 3</a>
                </li>
                <li>
                    {{> loginButtons}}
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
</template>
