<template name="foodMenu">
	<ul class="list-group">
		{{>backButton _id=this._id router_code="Router.go('divyMenu', {_id: this._id})" }}
		{{#each f_menuItems}}	
		  <li class="list-group-item" id="foodItem">
		    <span class="badge">${{price}}</span>
		    {{name}}
		  </li>
		{{/each}}
	</ul>
	{{> orderTotal}}
</template>

<template name="orderTotal">
	<div class="tab-bar ">
	  <label class="tab-bar__item tab-bar--top-border__item">
	    <input type="radio" name="top-tab-bar-b">
	    <button class="tab-bar__button tab-bar--top-border__button">
	      Total in cart: ${{totalInOrder}}
	    </button>
	  </label>
	</div>
</template>