<template name="newDivy">
      {{>header title="New Divy"}}

     <form>
      <div class="login-form">
		<ul class="list">
		  <li class="list__item">
		    <input id="login-username" type="text" class="text-input text-input--transparent" style="width:100%; margin-top:4px; padding-left:7px" placeholder="Title">
		  </li>
		  <li class="list__item">
		    <select id="login-password" type="text" class="text-input text-input--transparent" style="width:100%; margin-top:4px;" placeholder="password">
		    <option value="In-n-Out">In-n-Out</option>
  			<option value="Wendys">Wendys</option>
  			<option value="Jack-in-the-box">Jack-in-the-box</option>
  			<option value="Mcdonalds">Mcdonalds</option>
		    </select>
		  </li>
		</ul>
        <br><br>
        <button type="submit" class="button button--large" name="post">Post</button>
      </div>
  	</form>

</template>